*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Barra de navegacion*/

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(171, 167, 167);
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-titulo{
    margin: 10px;
}

.navbar-busqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-busqueda input{
    width: 120%;
    height: 25px;
    padding-right: 500px ;
    padding-left: 20px;
    text-align: start;
}

.navbar-btn{
    display: flex;
    margin: 10px;
}

.navbar-btn button{
    width: 100px;
    height: 30px;
    background-color: rgb(73, 204, 204);
    color: aliceblue;
    font-weight: bold;
    border: 2px solid black;
}

/*Contenedor con definiciones*/

.content-def{
display: flex;
flex-direction: column;
}

.content-def div{
    margin-top: 20px;
    margin-left: 50px;
    border: 2px solid black;
    width: 70%;
}

.content-def h3{
    margin-top: 20px;
    margin-left: 10px;
}

.content-def p{
    margin-top: 20px;
    margin-left: 10px;
}

.content-type{
    font-style: italic;
    color: rgb(102, 101, 101);
}

.content-def button{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 22px;
    box-shadow: 0px 2px 2px black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}

/* Agregar Definiciones*/

.content-agrDef{
    position: absolute;
    top: 90px;
    right: 35px;
    border: 2px solid black; 
    width: 21%;
}

.content-agrDef p{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14px;
}

.content-agrDef button{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(5, 160, 26);
    box-shadow: 0px 1px 1px black;
    color: aliceblue;
    font-weight: bold;
    width: 220px;
    height: 30px;
}